# Ambientes virtuais
venv/
.venv/
postman/
.postman/

# Python cache (pega em todas as subpastas)
**/__pycache__/
*.pyc

# Banco de dados e Logs
db/*.db
*.log
logs/*.log

# Arquivos de notas pessoais e descartáveis
utils.md
